$primary: #910385;
$danger: #a02020;
$secondary: #537092;
$light: #3b3f42;
$body-bg: #181b1f;
$headings-color: #f0f0f0;
$text-muted: #838b94;
$body-color: #b1beca;
$input-bg: #212529;
$input-disabled-bg: #1d2024;
$input-color: #a8b4c0;

$list-group-bg: $input-bg;
$list-group-color: $body-color;
$list-group-hover-bg: #2f3338;
$list-group-action-color: $body-color;
$list-group-action-active-bg: #24272b;
$card-bg: $list-group-bg;
$input-bg: $list-group-bg;
$btn-border-width: 2px;
$btn-close-color: $headings-color;
$nav-tabs-link-active-color: $primary;
$modal-content-bg: $input-bg;
$dropdown-bg: $list-group-bg;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $body-color;
$dropdown-link-hover-bg: $list-group-hover-bg;
$form-check-input-bg: $light;

@import "~bootstrap/scss/bootstrap";
@import "./bootstrapOverride.css";
@import "./unhide.css"