$body-bg: #dce9ec;
$secondary: #3c6ca3;
$primary: #7c2f48;

$nav-tabs-link-active-color: $primary;
$nav-tabs-border-color: $primary;
$nav-tabs-link-active-border-color: $primary $primary $body-bg;

@import "~bootstrap/scss/bootstrap";